/* Estilos gerais */
.container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* Card */
.card {
    width: 100%;
    max-width: 90%;
    max-width: 40rem;
    margin: auto;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.card-header {
    padding: 1rem;
    text-align: center;
    color: #003366;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-description {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #666666;
    text-align: center;
}

/* Formulário */
.form {
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;
}

.label {
    text-align: right;
    color: #003366;
    font-size: 1rem;
}

.input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 0.25rem;
}

.fields-container {
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* Botões */
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #00264d;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.button:hover {
    background-color: #003366;
}

/* Alerta */
.alert {
    display: flex;
    align-items: center;
    background-color: #ffcccc;
    color: #cc0000;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 0.5rem; /* Reduza o padding para telas pequenas */
    }

    .card {
        max-width: 100%; /* Ocupar quase toda a largura da tela */
        padding: 1rem; /* Garanta espaço interno */
    }

    .fields-container {
        padding: 0.5rem;
    }

    .input-group {
        grid-template-columns: 1fr; /* Alinhe os campos em uma única coluna */
    }

    .label {
        text-align: left; /* Alinhe os rótulos à esquerda */
    }

    .button-container {
        justify-content: center; /* Centralize os botões */
    }

    .button {
        width: 100%; /* O botão ocupa toda a largura disponível */
    }
}

@media (max-width: 480px) {
    .card-header {
        font-size: 1rem;
    }

    .form {
        gap: 1rem;
    }

    .input {
        font-size: 0.9rem;
    }

    .button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}
