/* Estilos para telas normais */
.sidebar {
  background: var(--blue-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1.25rem;
  width: 15rem; /* Largura da barra lateral */
  height: 100vh; /* Preenche toda a altura da tela */
  position: fixed; /* Fixa a barra lateral na tela */
  left: 0;
  top: 0;
  z-index: 10;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logoContainer img {
  width: 10rem; /* Largura relativa em rem */
  height: auto;
  max-width: 12rem; /* Limita a largura máxima da logo em telas maiores */
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .logoContainer img {
    width: 8rem; /* Define um tamanho adequado para a logo em telas menores */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 2rem;
  }
}

.menuButton {
  display: none; /* Escondido por padrão em telas grandes */
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100vh;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  width: 100%;
  margin-top: 0.25rem;
  margin-left: 1rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .nav a {
    font-size: 1.5rem; /* Aumenta o tamanho da fonte no modo responsivo */
    margin-left: 1rem;
  }
}

.nav a:hover {
  color: var(--blue-100);
}

@media (max-width: 768px) {
  /* Transformar barra lateral em barra superior */
  .sidebar {
    flex-direction: row;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .menuButton {
    display: block; /* Exibe o botão de menu em telas menores */
  }

  .nav {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    padding-top: 4rem;
    height: max-content;
    background: var(--blue-900);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: none; /* Menu escondido por padrão em telas pequenas */
  }

  .nav.open {
    display: flex;
    width: 70%;
    height: 100vh;
    transform: translateX(0); /* Menu aparece ao clicar */
  }

  .mobileSidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
  }
}

/* Tamanho padrão do ícone */
.icon {
  width: 1.3rem;
  height: 1.3rem;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .icon {
    width: 1.8rem; /* Aumenta o tamanho do ícone no modo responsivo */
    height: 1.8rem;
  }
}
