.container {
    display: flex;
    flex-direction: column;
    border: 0.125rem solid var(--gray-100);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 75rem;
    margin-top: 5rem;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 0.125rem solid var(--gray-100);
  }
  
  .label {
    font-weight: bold;
    flex: 1rem;
    color: var(--blue-700);
    margin-right: 1rem;
  }
  
  .value {
    flex: 2;
    color: var(--gray-700);
    gap: 0.5rem;
    margin-right: 1rem;
    display: flex; /* Torna o elemento um contêiner flex */
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
  }
  
  .icon {

    cursor: pointer;
    color: var(--gray-400);
    margin-left: 1rem;
    background: transparent;
    outline: none; /* Remove a borda de foco */
    border: none; /* Remove qualquer borda adicional */
    padding: 0; /* Remove qualquer padding */
  }
  .icon:hover {
    cursor: pointer;
    color: var(--blue-100);
    margin-left: 1rem;
  }
  .iconplaceholder {
    visibility: hidden; /* Torna o placeholder invisível mas mantém o espaço ocupado */
    cursor: pointer;
    color: var(--gray-400);
    margin-left: 1rem;
    background: transparent;
    outline: none; /* Remove a borda de foco */
    border: none; /* Remove qualquer borda adicional */
    padding: 0; /* Remove qualquer padding */
  }
  
  .row:last-child {
    border-bottom: none;
  }
  
  button {
    background: transparent;
    border: none;
    padding: 0;
    outline: none; /* Remove o outline do botão */
  }