:root {
    --white: #fff;
    --gray-50: #f5f5f8;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;

    --green-300: #00B37E;
    --green-500: #00875f;

    --red-500: #F75A68;

    --blue-100: #05d2ff;
    --blue-300: #055AAA;
    --blue-500: #0578DC;
    --blue-700: #053C73;
    --blue-900: #051E32;
  }

  :focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--blue-100);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: var(--white);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
  }
  body, input, textarea, button {
    font-family: "https://fonts.google.com/specimen/Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }